<section class="VideoCard" style="--icon: url('../images/icons.svg#{{ icon }}')">
	<h2 class="VideoCard__heading">{{ heading }}</h2>

	{% include component('Video') with video|merge({ bemMix: 'VideoCard_video' }) %}

	<p class="VideoCard__text">{{ text }}</p>

	<a class="VideoCard__button Button" href="{{ link.url }}">
		{{ link.title }}
	</a>
</section>
