<section class="VideoCard {{ bemMix }}">
	<h2 class="VideoCard__heading Subheading">{{ heading }}</h2>

	{% include component('Video') with video|merge({ bemMix: 'VideoCard__video' }) %}

	<footer class="VideoCard__content">
		<p class="VideoCard__text">{{ text }}</p>

		<a class="VideoCard__button Button" href="{{ link.url }}">
			{{ link.title }}
		</a>
	</footer>
</section>
