<header class="PageHeader {{ bemMix }}">
	{% include 'Logo.twig' with { bemMix: 'PageHeader__logo' } %}

	{% for menu in navigation %}
		<ul class="PageHeader__menu PageHeader__menu_{{ menu.alias }}">
			{% for link in menu.list %}
				<li>
					{% set linkModifier = link.icon ? 'PageHeader__link_iconable PageHeader__link_icon_' ~ link.icon %}
					<a class="PageHeader__link {{ linkModifier }}" href="{{ link.href }}">
						{{ link.title}}
					</a>
				</li>
			{% endfor %}
		</ul>
	{% endfor %}

	<p class="PageHeader__description">{{ bonusText }}</p>
</header>
