<section class="Reviews" {{ setBg(backgroundSet) }}>
	<h2 class="Reviews__heading Heading">{{ heading }}</h2>

	<ul class="Reviews__list">
		{% for review in list %}
			<li class="Reviews__item">
				{% include 'Review.twig' with review %}
			</li>
		{% endfor %}
	</ul>

	{% if list|length > 1 %}
		<div class="Reviews__controls">
			{% for control in controls %}
				<button class="Reviews__control Reviews__control_{{ control.alias }}" type="button">
					<span class="visuallyHidden">{{ control.title|punctify }}</span>
				</button>
			{% endfor %}
		</div>
	{% endif %}

	<a class="Reviews__button Button" href="{{ link.url }}">{{ link.title }}</a>
</section>
