<article class="GoodCard {{ bemMix }}">
	<a class="GoodCard__pictureLink" href="{{ url }}">
		{% include component('Picture') with imageSet|merge({ bemMix: 'GoodCard__picture' }) %}
	</a>

	<div class="GoodCard__body">
		<h3 class="GoodCard__heading Subheading">
			<a class="GoodCard__link" href="{{ url }}">{{ heading }}</a>
		</h3>

		<dl class="GoodCard__details">
			{% for detail in details %}
				<dt class="GoodCard__item">{{ loop.first ? detail.key|capitalize : detail.key }}</dt>
				<dd class="GoodCard__item">{{ detail.value ~ (not loop.last ? ',') }}</dd>
			{% endfor %}
		</dl>

		<footer class="GoodCard__footer">
			<p class="GoodCard__price">{{ price }}</p>

			<a class="GoodCard__buttonCart" href="#good-{{ id }}">
				<span class="visuallyHidden">{{ linkTitle|punctify }}</span>
			</a>
		</footer>
	</div>
</article>
