<blockquote class="Review {{ bemMix }}">
	<p class="Review__text">{{ text }}</p>

	<cite class="Review__author">
		{{ author }}

		<a class="Review__authorLink" href="{{ authorLink.url }}">{{ authorLink.title }}</a>
	</cite>
</blockquote>
