<form class="FormSelect" action="{{ action }}" method="{{ method ?? 'get' }}">
	<h2 class="FormSelect__heading">{{ heading }}</h2>

	<input type="hidden" name="id" value="{{ goodId }}">

	<fieldset class="FormSelect__container">
		<legend class="FormSelect__title">{{ title }}</legend>

		<p class="FormSelect__group">
			{% for value in values %}
				{% set id = name ~ goodId ~ loop.index %}

				<input
					class="FormSelect__input visuallyHidden"
					id="{{ id }}"
					type="{{ type ?? 'radio' }}"
					name="{{ name }}"
					value="{{ value }}"
					{{ loop.index == checked ? 'checked' }}
				/>
				<label class="FormSelect__button" for="{{ id }}">
					{{ value }}
				</label>
			{% endfor %}
		</p>
	</fieldset>

	<button class="FormSelect__submit Button Button_secondary" type="submit">{{ submitText }}</button>
</form>
