<header class="PageHeader {{ bemMix }}">
	{% include component('Logo') with { bemMix: 'PageHeader__logo' } %}

	{% for menu in navigation %}
		<ul class="PageHeader__menu PageHeader__menu_{{ menu.alias }}">
			{% for link in menu.list %}
				<li>
					{% set linkIcon = link.icon ? 'style="--icon: url(\'../images/icons.svg#' ~ link.icon ~ '\')"' %}
					<a class="PageHeader__link {{ link.icon ? 'PageHeader__link_iconable' }}" href="{{ link.url }}" {{ linkIcon }}>
						{{ link.title}}
					</a>
				</li>
			{% endfor %}
		</ul>
	{% endfor %}

	<p class="PageHeader__description">{{ bonusText }}</p>

	<button class="PageHeader__toggler" type="button">
		{% for key in togglerText|keys %}
			<span class="PageHeader__togglerText PageHeader__togglerText_{{ key }}">
				{{ togglerText[key]|punctify }}
			</span>
		{% endfor %}
	</button>
</header>
