<header class="PageHeader PageHeader_noJs">
	{% include component('Logo') with { bemMix: 'PageHeader__logo' } %}

	<button class="PageHeader__toggler" type="button">
		{% for key in togglerText|keys %}
			<span class="PageHeader__togglerText PageHeader__togglerText_{{ key }}">
				{{ togglerText[key]|punctify }}
			</span>
		{% endfor %}
	</button>

	{% for menu in navigation %}
		<ul class="PageHeader__menu PageHeader__menu_{{ menu.alias }}">
			{% for link in menu.list %}
				<li>
					{% set iconClass = link.icon ? 'PageHeader__link_' ~ link.icon %}
					{% set lastClass = loop.last and menu.alias == 'main' ? 'PageHeader__link_last' %}
					{% set linkAttributes = link.url|includes(page) ? 'aria-current="page"' : 'href="' ~ link.url ~ '"' %}
					<a class="PageHeader__link PageHeader__link_{{ menu.alias }} {{ iconClass }} {{ lastClass }}" {{ linkAttributes }}>
						<span class="PageHeader__linkTitle {{ link.icon ? 'PageHeader__linkTitle_' ~ link.icon }}">
							{{ link.title }}
						</span>
					</a>
				</li>
			{% endfor %}
		</ul>
	{% endfor %}

	<p class="PageHeader__description">{{ bonusText }}</p>
</header>
