<p class="Dev {{ bemMix }}">
	{{ text }}

	<a class="Dev__link" href="{{ url }}" aria-label="{{ title|punctify }}">
		<svg width="{{ logo.width }}" height="{{ logo.height }}" role="img" focusable="false">
			<use xlink:href="{{ rootPath }}images/{{ logo.image }}" />
		</svg>
	</a>
</p>
