<div class="Video Video_active {{ bemMix }}" {{ backgroundSet ? setBg(backgroundSet) }}>
	<video class="Video__player" poster="{{ poster }}" controls>
		<source src="video/{{ file }}.m4v">
		<source src="video/{{ file }}.ogv" type="video/ogg">
		<source src="video/{{ file }}.webm" type="video/webm">
	</video>

	<button class="Video__control" type="button">
		<span class="visuallyHidden">Проиграть видео.</span>
	</button>
</div>
