<section class="Contacts {{ bemMix }}">
	<h2 class="Contacts__heading Heading">{{ heading }}</h2>

	<dl class="Contacts__details">
		{% for detail in details %}
			<dt class="Contacts__item" data-balloon="map">{{ detail.key }}:</dt>
			<dd class="Contacts__item" data-balloon="map">{{ detail.value }}</dd>
		{% endfor %}
	</dl>

	{% include component('Map') with { bemMix: 'Contacts__map', mapSet } %}

	<a class="Contacts__button Button" href="{{ link.url }}">{{ link.title }}</a>
</section>
